[run]
source = cpy2py
branch = TRUE
cover_pylib = FALSE
parallel = TRUE

[report]
exclude_lines =
    # default
    pragma: no cover
    # python debug/internals
    def __repr__
    if __debug__:
    assert
    raise AssertionError
    raise NotImplementedError
    return NotImplemented
    # cpy2py debug
    CPY2PY_DEBUG
